* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Note: illustrator forsidebillede på desktop i html */

h2 {
  padding-top: 6%;
  padding-bottom: 2%;
}

h2,
p {
  padding-left: 3%;
}

/* header global nav menu desktop*/
@media (min-width: 800px) {
  header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 5%;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    justify-content: flex-end;
  }

  header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
    margin-top: 30px;
  }

  header li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }

  header li a:hover {
    color: white;
  }
  .navheader ul {
    justify-content: flex-end;
  }
  header .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 734px;
    z-index: -1;
    object-fit: cover;
  }
  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .header-content_1 {
    position: absolute;
    top: 50%;
    left: 77%;
    transform: translate(-50%, -50%);
    z-index: -1;
    color: black;
  }
  .header-content_1 h1 {
    font-size: 70px;
    margin-top: 1058px;
    padding-bottom: 4%;
  }
  .header-content_1 h3 {
    padding-left: 65%;
    padding-bottom: 4%;
  }
  .header-content h1 {
    font-family: "zen loop";
    font-size: 80px;
    color: white;
    letter-spacing: 4px;
    margin-top: 653px;
    padding-left: 10%;
  }
}

/* fjerner burgermenu på desktop */
@media (min-width: 800px) {
  .burger-nav {
    display: none;
  }
}

/* mobilsite */

/* fjerner global nav menu på mobilsite */
@media (max-width: 800px) {
  .navheader {
    display: none;
  }
}

/* titel på forsiden på mobilsite */
@media (max-width: 800px) {
  .header-content_1 {
    position: absolute;
    bottom: -579px;
    left: 41px;
  }
  .header-content_1 h1 {
    font-size: 65px;
    padding-bottom: 15%;
  }
  .header-content_1 h3 {
    padding-left: 5%;
    padding-bottom: 3%;
  }
}

/* Burgermenu mobilsite */

@media (max-width: 800px) {
  .burger-nav {
    color: #130704;
    background-color: #efdccc;
    position: absolute;
    width: 100%;
    height: 450px;
    top: 0;
    left: -1000px;
    z-index: 90;
    text-align: center;
  }
  .burger-nav ul li {
    list-style-type: none;
    margin-bottom: 20px;
    color: black;
    margin-top: 28px;
  }

  .burger-nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 26px;
  }

  .burger-divider {
    display: flex;
    justify-content: end;
  }
  .burger-divider img {
    width: 20%;
  }
  .burger-divider div p {
    cursor: pointer;
  }
  header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
  }

  header .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 753px;
    z-index: -1;
    object-fit: cover;
  }

  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-top: 377px;
    margin-left: 16px;
    font-size: 25px;
  }

  .menu {
    display: none;
  }

  .fheadermobile {
    display: flex;
    gap: 150px;
  }

  .burger-menu {
    display: block;
    margin-top: 25px;
    margin-left: 20px;
    cursor: pointer;
    z-index: 99;
  }

  .bar {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 9px 0;
    transform-origin: left;
    transition: all 0.4s ease;
  }

  .cross .bar:nth-child(1) {
    transform: rotate(48deg);
  }
  .cross .bar:nth-child(2) {
    opacity: 0;
  }
  .cross .bar:nth-child(3) {
    transform: rotate(-48deg);
  }
  .active {
    top: 0;
    left: 0;
  }
}

/* CV */

.mit_cv {
  padding-left: 3%;
  margin-top: 6%;
}

@media (max-width: 800px) {
  .om_mig_profil img {
    width: 68%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
    height: 379px;
    /* border-radius: 50%; */
    margin-left: 86px;
    margin-bottom: -98px;
    margin-top: -23px;
    border-radius: 76px;
    object-fit: contain;
  }
}

.om_mig_profil p {
  grid-column: 1/2;
  margin-right: 23px;
  padding-left: 5%;
  padding-bottom: 10%;
}

.cv_1_hel_txt {
  margin-left: -10px;
}
.cv_1_hel_txt h2 {
  margin-left: 10px;
  margin-bottom: 17px;
  margin-top: 8px;
  padding-top: 18%;
}

.cv_erfaring {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4%;
  padding-left: 4%;
  margin-top: 23px;
}
.cv_erfaring h3 {
  margin-top: 33px;
}

.erfaring h2 {
  margin-left: -9px;
}

.cv_kompetencer h2 {
  padding-left: 0%;
}

.arbejde {
  padding-top: 15%;
}
.arbejde li {
  margin-right: 10px;
}

.cv_kompetencer {
  padding-left: 4%;
}
.cv_kompetencer ul {
  margin-bottom: 33px;
}

/* web */
.web_1 {
  margin-top: 710px;
}

.web_1_pic img {
  width: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
}

.process_pic img {
  width: 100%;
  padding-top: 6%;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.web_har_laert_pic img {
  width: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
}

.web_process_txt {
  padding-bottom: 6%;
}

.web_txt_1 p {
  padding-right: 13%;
  padding-bottom: 8%;
}

.web_txt_1 {
  margin-top: 20px;
}

.web_process_txt p {
  padding-right: 13%;
}

.web_har_laert_txt p {
  padding-right: 13%;
  padding-bottom: 8%;
}

/* ux/ui */

.ux_pic_1 {
  width: 100%;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
}

.ux_pic_2 img {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
}

.ux_img_3_1 img {
  width: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
}

.ux_pic_3_2 img {
  width: 100%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
}

.ux_pic_2_2 img {
  width: 100%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
}

.ux_txt_1 {
  margin-top: 20px;
  padding-bottom: 8%;
  margin-top: 720px;
}

.ux_txt_1 p {
  margin-right: 34px;
}

.ux_txt_2 p {
  margin-right: 34px;
  padding-bottom: 8%;
}

.ux_txt_3 p {
  margin-right: 34px;
  padding-bottom: 8%;
}

/* Animation */
.animation_hel_txt {
  margin-top: 20px;
  padding-right: 13%;
  padding-bottom: 8%;
  margin-bottom: 20px;
  margin-top: 730px;
}

.animation_1_pic {
  width: 100%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 8%;
}
.animation_2_txt {
  margin-top: 20px;
  padding-right: 13%;
  padding-bottom: 8%;
  margin-bottom: 20px;
}

.animation_2 img {
  width: 100%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 8%;
}

.har_laert_1 p {
  padding-bottom: 6%;
}

.har_laert_1 img {
  width: 100%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
}

.har_laert_2 p {
  padding-bottom: 6%;
}

.har_laert_2 img {
  width: 100%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
}
.har_laert_hel_txt {
  margin-top: 20px;
  padding-right: 13%;
  padding-bottom: 8%;
  margin-bottom: 20px;
}

/* mobilsite for animation */
@media (max-width: 800px) {
  .animation_process_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4%;
    padding-left: 2%;
    padding-right: 2%;
  }
}

/* Indhold */

.indhold {
  margin-top: 700px;
  padding-bottom: 8%;
}

.indhold_img img {
  width: 100%;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
}

.indhold_process {
  padding-bottom: 8%;
}

.indhold_process_img img {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
}

.indhold_txt {
  padding-bottom: 8%;
}

.indhold_har_laert img {
  width: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
}

.indhold_har_laert_pic img {
  width: 100%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
}

/* Desktop */

/* CV */

@media (min-width: 800px) {
  .om_mig_navn {
    padding-left: 1%;
  }
}

@media (min-width: 800px) {
  .cv_1_hel_txt {
    margin-top: 13px;
    margin-bottom: 40px;
    border-radius: 4%;
    padding-left: 3%;
  }
}

@media (min-width: 800px) {
  .om_mig_profil p {
    margin-left: -3%;
    margin-right: 16%;
    margin-bottom: 39px;
  }
  .om_mig_profil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 2%;
    margin-top: 96px;
  }
  .om_mig_profil img {
    height: 100%;
    width: 100%;
    padding-right: 8%;
    margin-top: 17px;
    margin-bottom: 0%;
    margin-left: -31px;
    padding-left: 8%;
    padding-bottom: 10%;
    order: 1;
  }
  .om_mig_profil h2 {
    margin-right: 112px;
    margin-top: -49px;
  }
}
@media (min-width: 800px) {
  .erfaring h2 {
    margin-left: -26px;
    padding-bottom: 4%;
    font-size: 34px;
  }
  .erfaring li {
    margin-left: -11px;
    margin-right: 28px;
  }
  .erfaring h3 {
    margin-left: -2%;
    margin-bottom: 16px;
    margin-top: 3%;
  }
}

@media (min-width: 800px) {
  .arbejde {
    margin-top: -3px;
  }
  .arbejde h3 {
    margin-top: -4px;
    margin-bottom: 21px;
  }
  .arbejde li {
    margin-right: 42px;
  }
}

@media (min-width: 800px) {
  .cv_kompetencer h2 {
    margin-left: -14px;
    padding-bottom: 1%;
  }
  .cv_kompetencer {
    padding-bottom: 4%;
  }
  .cv_kompetencer li {
    margin-left: -12px;
    padding-right: 54%;
  }
}

/* web */
@media (min-width: 800px) {
  .web_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 690px;
  }
  .web_1_pic img {
    padding-top: 13%;
    margin-left: -13px;
    margin-top: -47px;
  }
}

@media (min-width: 800px) {
  .web_txt_1 {
    margin-bottom: 109px;
    margin-top: 43px;
    border-radius: 3%;
    margin-left: 15px;
  }
}

@media (min-width: 800px) {
  .web_txt_1 h2 {
    padding-left: 4%;
    padding-bottom: 1%;
    font-size: 34px;
  }
}

@media (min-width: 800px) {
  .web_process {
    display: grid;
    grid-template-columns: 1fr 1fr;
    order: 1;
    padding-top: 5%;
  }

  .process_pic img {
    padding-top: 0%;
    padding-bottom: 0%;
  }
}
@media (min-width: 800px) {
  .web_process_txt p {
    margin-left: 0%;
  }
  .web_process_txt h2 {
    font-size: 34px;
  }
}
@media (min-width: 800px) {
  .web_process_txt {
    margin-bottom: 980px;
    border-radius: 3%;
    margin-right: 15px;
  }
}

@media (min-width: 800px) {
  .web_har_laert {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 4%;
  }
  .web_har_laert_pic img {
    padding-top: 13%;
    margin-left: -13px;
  }
  .web_har_laert_txt h2 {
    padding-left: 5%;
    font-size: 34px;
  }
}
@media (min-width: 800px) {
  .web_har_laert_txt {
    margin-bottom: 257px;
    margin-top: 89px;
    border-radius: 3%;
    margin-left: 15px;
  }
}

/* ux */
@media (min-width: 800px) {
  h2,
  p {
    padding-left: 2%;
  }
}

@media (min-width: 800px) {
  .ux_txt_1 p {
    padding-right: 40%;
    margin-top: 0%;
  }
  .ux_txt_1 {
    border-radius: 3%;
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 750px;
  }
}

@media (min-width: 800px) {
  .ux_txt_1 p {
    padding-right: 40%;
    margin-top: 0%;
  }
  .ux_txt_1 h2 {
    padding-left: 3%;
    padding-top: 3%;
    font-size: 34px;
  }
}

@media (min-width: 800px) {
  .ux_txt_2 p {
    padding-right: 30%;
    margin-top: 0%;
    margin-bottom: 35px;
  }
  .ux_txt_2 h2 {
    padding-left: 3%;
    padding-top: 3%;
    font-size: 34px;
  }
  .ux_txt_2 {
    margin-right: 15px;
    margin-left: 10px;
    border-radius: 3%;
  }
}

@media (min-width: 800px) {
  .ux_pic_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    margin-top: -10px;
  }
}

@media (min-width: 800px) {
  .ux_pic_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 3%;
  }
}

@media (min-width: 800px) {
  .ux_hele_process {
    padding-bottom: 5%;
  }
}

@media (min-width: 800px) {
  .ux_txt_3 p {
    margin-top: 0%;
  }
  .ux_txt_3 h2 {
    padding-left: 5%;
    padding-top: 8%;
    font-size: 34px;
    padding-bottom: 3%;
  }
  .ux_txt_3 {
    margin-bottom: 450px;
    border-radius: 3%;
    margin-left: 10px;
  }
}

@media (min-width: 800px) {
  .ux_img_3_1 img {
    margin-top: -44px;
  }
}

@media (min-width: 800px) {
  .ux_pic_2_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3%;
    gap: 2%;
  }
}

@media (min-width: 800px) {
  .ux_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2%;
  }
}

@media (min-width: 800px) {
  .ux_pic_3_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .ux_pic_3_2 img {
    padding-top: 3%;
  }
}

/* Animation */
@media (min-width: 800px) {
  .animation_img_1 {
    width: 81%;
    margin-left: 97%;
  }
  .animation_1_pic {
    width: 100%;
    padding-bottom: 6%;
    padding-left: 4%;
    padding-right: 8%;
  }
}

@media (min-width: 800px) {
  .animation_1 img {
    margin-top: -3%;
    height: 698px;
  }
  .animation_1 p {
    padding-right: 50%;
  }
  .animation_1 h2 {
    margin-left: 19px;
  }
  .animation_hel_txt {
    border-radius: 3%;
    margin-right: 15px;
    margin-left: 10px;
  }
  .animation_hel_txt h2 {
    font-size: 34px;
    padding-top: 4%;
  }
  .animation_hel_txt p {
    padding-left: 1%;
  }
}

@media (min-width: 800px) {
  .animation_process_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .animation_process_1 h2,
  p {
    grid-column: 1/2;
    margin-left: 22px;
  }
  .animation_process_1 p {
    padding-right: 57px;
  }
  .animation_process_1 h2 {
    font-size: 34px;
  }
  .animation_2_txt {
    margin-top: 2px;
    padding-right: 13%;
    padding-bottom: 8%;
    margin-bottom: 383px;
    border-radius: 3%;
    margin-left: 10px;
    padding-top: 2%;
  }
}

@media (min-width: 800px) {
  .animation_process_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 800px) {
  .har_laert_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 6%;
  }
  .har_laert_1 img {
    grid-column: 1/2;
    margin-top: -390px;
    padding-bottom: 11%;
  }
  .har_laert_hel_txt {
    grid-column: 2/2;
    border-radius: 3%;
    padding-bottom: 23%;
    margin-right: 15px;
  }
  .har_laert_1 h2 {
    grid-column: 2/2;
    padding-left: 7%;
  }
  .har_laert_1 p {
    grid-column: 2/2;
    padding-left: 4%;
    padding-right: 8%;
  }
  .har_laert_1 h2,
  p {
    margin-top: 20px;
  }
}
@media (min-width: 800px) {
  .har_laert_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* indhold */
@media (min-width: 800px) {
  h2,
  p {
    padding-left: 2%;
  }
}

@media (min-width: 800px) {
  .indhold {
    border-radius: 3%;
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 728px;
    margin-bottom: 10px;
  }
  .indhold h2 {
    font-size: 34px;
  }

  .indhold p {
    padding-right: 40%;
    margin-top: 0px;
    margin-left: 9px;
  }
}

@media (min-width: 800px) {
  .indhold_img img {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media (min-width: 800px) {
  .indhold_process {
    border-radius: 3%;
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .indhold_process h2 {
    font-size: 34px;
  }
  .indhold_process p {
    padding-right: 30%;
    margin-top: 0px;
    margin-left: 9px;
  }
}

@media (min-width: 800px) {
  .indhold_img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7%;
  }
  .indhold_txt {
    border-radius: 3%;
    padding-bottom: 23%;
    margin-left: 10px;
    margin-bottom: 335px;
    padding-top: 5%;
  }
  .indhold_txt h2 {
    font-size: 34px;
    padding-left: 4%;
    padding-bottom: 4%;
  }
  .indhold_txt p {
    padding-right: 30%;
    margin-top: 0px;
    margin-left: 9px;
    padding-left: 4%;
  }
  .indhold_pic img {
    margin-top: -39px;
  }
}

@media (min-width: 800px) {
  .indhold_process_img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 3%;
  }
}

@media (min-width: 800px) {
  .indhold_har_laert {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 7%;
  }
}

@media (min-width: 800px) {
  .indhold_har_laert_pic {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .indhold_har_laert_pic img {
    padding-top: 3%;
  }
}
