* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* illustrator billede med cirkler */
main {
  background-image: url();
}

/* mobilsite */

/* web */

h2 {
  padding-top: 6%;
  padding-bottom: 2%;
}

h2,
p {
  padding-left: 3%;
}

.web_1_pic img {
  width: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
}

.process_pic img {
  width: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
}

.web_har_lært_pic img {
  width: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
}

/* ux/ui */

.ux_pic_1 {
  width: 100%;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
}

.ux_pic_2 img {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
}

.ux_img_3_1 img {
  width: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
}

.ux_pic_3_2 img {
  width: 100%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
}

/* Desktop */

/* web */
@media (min-width: 800px) {
  .web_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .web_1_pic img {
    padding-top: 31%;
    margin-left: -56px;
  }
}

@media (min-width: 800px) {
  .web_process {
    display: grid;
    grid-template-columns: 1fr 1fr;
    order: 1;
    padding-top: 5%;
  }
  .process_pic img {
    padding-top: 0%;
  }
}

@media (min-width: 800px) {
  .web_har_lært {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 4%;
  }
  .web_har_lært_pic img {
    padding-top: 30%;
    margin-left: -56px;
  }
}

/* ux */
@media (min-width: 800px) {
  .ux_pic_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7%;
  }
}

@media (min-width: 800px) {
  .ux_pic_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 3%;
  }
}

@media (min-width: 800px) {
  .ux_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 7%;
  }
}

@media (min-width: 800px) {
  .ux_pic_3_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .ux_pic_3_2 img {
    padding-top: 3%;
  }
}
