body {
  background-color: #f6efe9;
}

h2,
h3 {
  font-family: "Playfair Display", serif;
}

.header-content_1 {
  font-family: "Playfair Display", serif;
}

.header-content h1 {
  font-family: "Playfair Display", serif;
}

.burger-nav ul li a {
  font-family: "Playfair Display", serif;
}
p {
  font-family: "Crimson Text", serif;
  line-height: 27px;
}
li {
  font-family: "Crimson Text", serif;
}

/* CV */
.cv_1_hel_txt {
  background-color: #efdccc;
}
.erfaring li {
  list-style-type: disc;
  line-height: 21px;
}
.arbejde li {
  list-style-type: disc;
  line-height: 21px;
}
.cv_kompetencer li {
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 21px;
}

/* web */
.web_txt_1 {
  background-color: #efdccc;
}
.web_process_txt {
  background-color: #efdccc;
}
.web_har_laert_txt {
  background-color: #efdccc;
}

/* ux */
.ux_txt_1 {
  background-color: #efdccc;
}
.ux_txt_2 {
  background-color: #efdccc;
}
.ux_txt_3 {
  background-color: #efdccc;
}

/* Animation */
.animation_hel_txt {
  background-color: #efdccc;
}
.animation_2_txt {
  background-color: #efdccc;
}
.har_laert_hel_txt {
  background-color: #efdccc;
}

/* Indhold*/
.indhold {
  background-color: #efdccc;
}
.indhold_process {
  background-color: #efdccc;
}
.indhold_txt {
  background-color: #efdccc;
}
