/* CV */
.om_mig_profil img {
  background-color: #efdccc;
}

/* web */
.web_process_txt {
  background-color: #efdccc;
}

/* ux */
.ux_pic_2 {
  background-color: #efdccc;
}
.ux_pic_2_2 {
  background-color: #efdccc;
}
.ux_hele_process {
  background-color: #efdccc;
}
